//base start
#content {min-height: 420px;}
h1 {color: #494949;display: block;font-size: 25px;font-weight: bold;line-height: 1.1;margin: 0;padding: 0 0 15px;word-wrap: break-word;}
form {border: 0 none;margin: 0;}
ul {margin: 0;padding: 0;list-style: none outside none;}
element.style {color: #D4D4D4;}
//base end
//D1 start
#hw-nav-main {background: none repeat scroll 0 0 transparent;margin: 0 0 40px;width: 100%;}
.site-nav {clear: both;height: 36px;width: 100%;}
.site-nav .bd{float: right;height:36px;width:84%;}
#hw-nav-main .site-nav-logo{padding-top:3px;}
.site-nav-logo{float:left;position:relative;}
.site-nav-logo img{margin-bottom:-3px;}
fieldset, img{border:0 none;}
#hw-nav-main .site-nav-logo em{display:none;}
#hw-nav-main .bd{background-color:#E9F4E9;width:82%;}
.top-nav em, .site-nav em{font-style: normal;}
.site-nav-logo em {background:url("/static/img/ui_ns_sbg4.png") no-repeat scroll -280px -100px transparent;bottom:3px;height:14px;line-height:10em;overflow:hidden;position:absolute;right:-15px;visibility:hidden;width:12px;}
#hw-nav-main .nav-srh{float:right;height:36px;}
#hw-nav-main .nav-srh, #hw-nav-main .nav-srh form{background: none repeat scroll 0 50% transparent;}
.nav-srh {background: url("/static/img/ui_ns_sbg4.png") no-repeat scroll 0 0 transparent;padding-left: 5px;}
#hw-nav-main .nav-srh form{height: 36px;}
#hw-nav-main .nav-srh, #hw-nav-main .nav-srh form{background: none repeat scroll 0 0 transparent;}
.nav-srh form {background: url("/static/img/ui_ns_sbg4.png") no-repeat scroll 100% 0 transparent;padding: 0 1px 0 0;}
#hw-nav-main .nav-srh .inp {width: 300px;}
.nav-srh .inp {padding-top: 5px;}
#hw-nav-main .nav-srh input {height: 24px;width: 264px;}
.nav-srh input {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #A6D098;float:left;line-height: 26px;padding: 0 2px;}
#hw-nav-main .nav-srh .bn-srh {background-position:-190px -100px;margin-left:-4px;overflow:hidden;text-indent:-100px;width:27px;}
#hw-nav-main .nav-srh .bn-srh{height: 26px;}
.nav-srh .bn-srh {background: url("/static/img/ui_ns_sbg4.png") no-repeat scroll 0 -100px transparent;border: 0 none;cursor: pointer;font-size: 13px;letter-spacing: 3px;padding: 1px 0 3px 3px;text-align:center;}
.nav-srh input {float: left;line-height: 26px;}
input {margin-right: 3px;vertical-align: middle;}
input, button, textarea, select, optgroup, option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
.site-nav-items {color:#D4D4D4;float:left;left:0;line-height:36px;padding-left:20px;position:relative;top:0;}
#hw-nav-main .site-nav-items li {background: none repeat scroll 0 0 transparent;color:#E9F4E9;margin-right:20px;}
.site-nav-items li {float:left;}
.site-nav-items li a:link, .site-nav-items li a:hover, .site-nav-items li a:visited, .site-nav-items li a:active{color:#0C7823;font-size:14px;margin-left:14px;vertical-align:middle;}
//D1 end


//E2 start
.m {
    color: #006600;
    font-size: 14px;
    line-height: 120%;
}
.clearfix {
    display: block;
}
.grid-16-8 .article {
    float: left;
    padding-right: 40px;
    width: 590px;
}
.xbar {
    background: url("/static/img/zbar.gif") no-repeat scroll 0 0 transparent;
    float: right;
    margin-bottom: 21px;
    overflow: hidden;
    width: 100%;
}
.xbar div {
    background: url("/static/img/zbar.gif") no-repeat scroll right top transparent;
    float: right;
    margin-left: 5px;
    padding-right: 35px;
}
.xbar a {
    display: block;
    float: right;
    line-height: 14px;
    margin: 5px 5px 1px;
    padding: 3px 5px 2px;
    text-decoration: none;
}
.xbar span.now {
    background: url("/static/img/wztab.gif") no-repeat scroll right top transparent;
    display: block;
    float: right;
    margin: 0 5px;
    padding: 0 10px 0 0;
}
.xbar span.now span {
    background: url("/static/img/wztab.gif") no-repeat scroll 0 0 transparent;
    display: block;
    padding: 6px 1px 5px 11px;
}
.group_banned {
    text-align: right;
}
.fright {
    float: right;
}
.gact {
    color: #BBBBBB;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}
.gact a:link, a.gact:link {
    color: #BBBBBB;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
//E2 end


//F1 start user show 1
#profile {margin-top:32px;}
#profile .userface{float:left;margin: 1px 10px 8px 0;}
fieldset, img {border: 0 none;}
.sep-line {border-bottom: 1px solid #F5E9DB;clear:both;font-size:0;height:0;margin:5px;overflow:hidden;}
.user-intro {color:#666666;overflow:hidden;word-wrap: break-word;}
.user-intro li{background:666666;color:black;height:18px;}
.user-intro li.on{background:white;color:black;}
    //info
.infobox {margin-bottom: 20px;table-layout: fixed;width: 100%;}
.infobox .bd {background:none repeat scroll 0 0 #FFF6ED;border-color:#FAEFE3;border-style: solid;border-width:0 1px;padding: 4px 9px;word-wrap: break-word;}
.pl {color: #666666;font: 12px/150% Arial,Helvetica,sans-serif;}
.infobox .exu, .infobox .exd{background: url("/static/img/info_bg.png") no-repeat scroll 100% 0 transparent;clear:both;font-size:0;height:5px;line-height:0;margin-left: 5px;}
.infobox .exd{background-position: 100% -5px;}
.infobox .exu span, .infobox .exd span{background: url("/static/img/info_bg.png") no-repeat scroll 0 0 transparent;display:block;height:5px;margin-left:-5px;overflow:hidden;position:relative;width:5px;}
//F1 end
//F2 start
#weibo-user{width:300px;height:200px;background:#FDF9C5;}//# 90CBF3
.user_head{}
.user_head img{width:50px;height:50px;border:1px solid blue;}
.userface{float:left;margin: 1px 10px 8px 0;}
.weibo-user-intro{height:50px;clear:both;margin:40px auto;}
.weibo-user-intro li{float:left;margin-left:10px;}
.weibo-user-intro a{text-align:center;margin:1px 1px;font-size:25px;text-align:center;}
.weibo-user-intro li div{color:#666666;text-align:center;}
//F2 end

//roundness-angle start
div#mid{margin:0px 20px;background:#dfe6ef;font-size:9pt;}
div#mid{margin:0px 20px;background:#dfe6ef;font-size:9pt;}
p{padding:5px 10px;margin:2px; text-align:center;}
div.rtop{display:block;background:white;}
div.rtop div{display:block;height:1px;overflow:hidden;background:#dfe6ef;}
div.r1{margin:0 3px;}
div.r2{margin:0 2px;}
div.r3{margin:0 1px;}
div.rtop div.r4{margin:0 1px;height:1px;}
//roundness-angle end








