{% extends super.html %}

{% block static_inherit %}
	<link rel="stylesheet" href="{{ static_url('css/weibo.css') }}">
{% end %}

{% block bodier-mleft %}
<div class="grid-16-8 clearfix">
    <div class="article">
		<div class="clear"></div>
		<div class="xbar"><div>
        	<span class="now"><span>微博同步</span></span>
        	<a href="/weibo/uid/edit_status/">动态消息</a>
			<a href="/weibo/uid/edit/">基本设置</a>
		</div></div>
		<div class="clear"></div>
		<form method="post" name="lzform" id="lzform">
			<table width="100%" cellpadding="5" align="center" style="clear:both">
				<tbody><tr>
					<td valign="top" align="right" class="m">新浪账号:</td>
					<td valign="top">{% if is_auth %}已经同步{% else %}<a href="/people/auth/">开始同步<a>{% end %}</td>
				</tr>
			</tbody></table>
		</form>    
	</div>
</div>
{% end %}

{% block bodier-mright %}
<div id="weibo-user">
	<div class="user_head">
		<img class="userface" src="http://tp2.sinaimg.cn/1683546773/50/5603268482/1" title="一米七三2010">
		<div class="weibo-user-info">
			<strong><a title="一米七三2010" namecard="true" uid="" href="">一米七三2010</a></strong><br/>
			<p>北京朝<em>阳区</em></p>
		</div>
	</div>
	<div class="weibo-user-intro">
		<ul>
			<li><a href="">57</a><div>关注</div></li>
			<li><a href="">19</a><div>粉丝</div></li>
			<li><a href="">54</a><div>微博</div></li>
		</ul>
	</div>
</div>
{% end %}
