{% extends super.html %}

{% block bodier-mleft %}
<div id="user-list-follow" class="user-list">
	<div class="tbar">
		<span>关注：</span>
		<input/>
	</div>
	<div class="show-panel">
		<ul>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
			<li><img src="/static/img/50.png"/>一米七三</li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="bbar">
		<ul>
			<li><a><<</a></li>
			<li><a><</a></li>
			<li class="page_select">1</li>
			<li><a>2</a></li>
			<li><a>3</a></li>
			<li><a>4</a></li>
			<li><a>5</a></li>
			<li>...</li>
			<li><a>198</a></li>
			<li><a>199</a></li>
			<li><a>200</a></li>
			<li><a>201</a></li>
			<li><a>></a></li>
			<li><a>>></a></li>
		</ul>
	</div>
</div>
{% end %}
{% block bodier-mright-added %}{% end %}
